*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}



body{
  transition:all .5s ease-in-out; 
    -o-transition:all .5s ease-in-out; 
    -moz-transition:all .5s ease-in-out; 
    -webkit-transition:all .5s ease-in-out;
}




.accordion{
  max-width: 100%;
  margin: auto;
  background: #000000bf;
  
}

.card{
  background: none;
}

.card-header{
  padding: 0px;
  background-color: transparent;
  border-bottom: none;
}
.card.sections {
    border: none;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    border-radius: .5em!important;
    padding: inherit;
    background: #000000;
    box-shadow: rgb(255 255 255 / 10%) 0px 0px 5px 0px, rgb(255 255 255 / 10%) 0px 0px 1px 0px;
    margin: .5%;
}
.btn.btn-link{
  background-color:#023357bd;
  border-radius: 0;
  color: white;
  position: absolute;
  padding-bottom: 70px;
  font-weight: bolder;
  text-decoration: none;
}

.mb-0.header{
  background-color: transparent;
  position: relative;
  height: 40px;
  padding-left: .2em;
}


.border-primary {
    border-color: #52c28a!important;
}

.card-body.accordion{
  padding:  0px;
  }
.border-left {
    margin-bottom: 10px;
    border: 0px!important;
}

.tasks-container{
  background-color: ##f8f9fa;
}
.card.card-body.border-left {
    background: #232323;
    display: inline-block;
    float: left;
    width: 100%;
    box-shadow: 0px 2px 4px 1px #00000033;
    color: white;
}
btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}
.title-card-section{
  border-radius: 0;
    color: white;
    text-decoration: none;
    text-align: left;
    margin: auto;
    font-size: inherit;
    font-weight: 500;
    display: inline-block;
    line-height: 1.5;
    margin: 0px!important;
}

.btn.btn-link.completed{
  background-color: #368a03;
}
.btn.btn-link.expired{
  background-color: #464545;
}
div#collapseOne, div#collapseTwo, div#collapseThree {
}
#oculto {
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  height: .1px;
  overflow: hidden;
  font-size: 1rem;
}
#modal-addNewTask{
  display: none;
}
#post h3{
      max-width: 90%;
    vertical-align: middle;
    font-weight: 400;
    font-size: .8em;
}




[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}





.round {
  position: absolute;
  display: inline-block;
  
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.tasks-count{
    float: right;
    
    color: white;
}

.drop-zone {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  color: #000000;
  border: 4px dashed #000000;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}



  .login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  &:active {
    background-color: #eeeeee;
  }
  
  &:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
}
.login-with-google-btn.facebook {
  background-color: #3b5998;
  color: white;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDUwIiBpZD0iTGF5ZXJfMSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTAgNTAiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik00NSwxSDVDMi44LDEsMSwyLjgsMSw1djQwYzAsMi4yLDEuOCw0LDQsNGg0MGMyLjIsMCw0LTEuOCw0LTRWNUM0OSwyLjgsNDcuMiwxLDQ1LDF6IiBmaWxsPSIjM0E1QkEwIi8+PHBhdGggZD0iTTMyLDI2bDEtNWwtNSwwdi00YzAtMS41LDAuOC0yLDMtMmgydi01YzAsMC0yLDAtNCwwYy00LjEsMC03LDIuNC03LDd2NGgtNXY1aDV2MTRoNlYyNkgzMnoiIGZpbGw9IiNGRkZGRkYiIGlkPSJmXzFfIi8+PC9zdmc+);
  background-position: inherit;
}
.form-group.socialButtons{
  text-align: center;;
}



body {
    background-color: #B3E5FC;
    border-radius: 10px
}
 







.list-inline {
    padding-left: 0;
    list-style: none;
    font-size: .5em;
    padding: 0em 2.7em;
}

.text-right {
        width: auto;
    font-size: 1px;
    height: 0%;
    float: right;
    padding: 0px;
    margin: 0px;
}
.display-4 {
    font-size: 1.5rem;
    font-weight: 300;
}
.col-2.text-right h2,h1{
    font-size: 1rem!important;
}
.badge{
      width: -webkit-fill-available;
}

.alert{
  font-size: .6em;
}





.user-img-account{
      position: relative;
      width: 100px;
      height: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.user-img-account:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.user-img-account img {
      position: absolute;
      left: 0;
      width: 100px;
      height: 100px;
}



.user-img-account:hover .title {
  top: 90px;
}

.btnUploadImage {
  position: inherit;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  padding-top: 2.2em;
}
.btnUploadImage.drop-zone__thumb{
  background: transparent
}

.btnUploadImage.drop-zone__thumb::after {
    color: #ffffff;
    background: rgb(0 0 0 / 33%);
    height: 100%;
  }


.btnUploadImage a {
  
text-align: center;
  
color: white;
  
z-index: 1;
}

.user-img-account:hover .btnUploadImage {
  opacity: 1;
}
.drop-zone.account{
  height: auto;
  display: inline-block;

}





